.socials {
    display: flex;
    justify-content: space-between;
    margin: 0 122px;

    @media screen and (min-width: 768px) {
        margin: 0 74px;
    }

    @media screen and (min-width: 1200px) {
        margin: 0 32px;
    }
}

.socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: background-color 250ms var(--timing-function);

    &:hover,
    &:focus {
        background-color: var(--link-color);
    }
}

.socials__icon {
    fill: var(--icon-color);

    transition: fill 250ms var(--timing-function);

    .socials__link:hover > &,
    .socials__link:focus > & {
        fill: var(--pure-white);
    }
}
