// Mobile version

.container {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

// Tablet version

    @media screen and (min-width: 768px) {
        max-width: 768px;
    }

// Desktop version

    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }
}