.section--pt {
    padding: 0;

    @media screen and (min-width: 1200px) {
        padding-top: 0;
    }
}

.bussines-mobile {
    display: none;

    @media screen and (min-width: 1200px) {
        display: block;
    }
}

.bussines {
    display: flex;
    justify-content: space-between;

    &__father {
        position: relative;
    }
    
    &__son {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
    
        width: 100%;
        height: 70px;
        bottom: 0;
    
        background-color: rgba(47, 48, 58, 0.8);
    }
}

.bussines__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--pure-white);
}