.header {
    border-bottom: 1px solid #ECECEC;
}

.header__helmet, .nav, .nav__list, .contacts {
    display: flex;
    align-items: center;
}

.nav__list .nav__item,
.contacts .contacts__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav__list {
    margin-left: 93px;

    & .nav__link--active {
        color: var(--link-color);
    }
}

.nav__link {
    display: block;
    position: relative;
    padding: 32px 0;

    color: var(--main-text-color);

    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
    color: var(--link-color);
    }
}

.nav__link::after {
    content: '';
    display: block;
    position: absolute;

    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: var(--link-color);

    transform: scaleX(0);
    transition: transform 250ms var( --timing-function);
}

.nav__link:hover::after,
.nav__link:focus::after {
    display: block;

    transform: scaleX(1);
}

.nav__item:not(:last-child) {
    margin-right: 50px;
}

.nav__link--active::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;

    height: 4px;
    border-radius: 2px;
    background-color: var(--link-color);

    transform: scaleX(1);
}

.contacts {
    margin-left: auto;
}

.contacts .contacts__item + .contacts__item {
    margin-left: 50px;
}

.contacts__link {
    display: flex;
    align-items: center;

    color: var(--primary-text-color);

    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
    color: var(--link-color);
    }
}

.contacts__icon {
    margin-right: 10px;
    fill: var(--primary-text-color);

    .contacts__link:hover > &,
    .contacts__link:focus > & {
        fill: var(--link-color);
    }
}
