.hero {
    max-width: 1600px;
    padding-top: 118px;
    padding-bottom: 118px;
    margin: 0 auto;

    background-color: rgba(196, 196, 196, 1);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-image: 
    linear-gradient( 
        to right,
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-bg-mob_480.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-bg-mob_960.jpg);
    }

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-bg-tab_768.jpg);

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-bg-tab_1536.jpg);
        }
    }

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;

        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-bg-des_1600.jpg);

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero-bg-des_3200.jpg);
        }
    }

    &__title {
        margin-bottom: 30px;

        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        color: var(--pure-white);
    }
}
